<table class="md-table md-row-select">
	{{yield (hash
		head=(component headComponent
			selectable=selectable
			setSortProp=(action (mut sortProp))
		)
		body=(component bodyComponent
			bodyRowComponent=bodyRowComponent
			selectable=selectable
			setRowWidth=(action (mut rowWidth))
		)
		sortProp=sortProp
	)}}
</table>
